body {
    margin: 0;
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    background-color: #EFFDF5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.cont{
    /* height: 120vh; */
    margin-top: 70px;
    margin-bottom: 50px;
}
.ram{
    padding: 16px;
    margin-left: 5px;
}
.buttonn{
text-decoration: none;
background-color: aqua;
padding: 20px;
}
 .headi{
    margin-top: 15px;
 }
 .a-all{
    padding: 15px;
    text-decoration: none;
    background-color:  rgb(168, 255, 206);
    text-align: center;
    display: block;
    border-radius: 5px;
 }
 .like{
    padding-top: 15px;
    padding: 10px;
 }
 .formm{
    margin-top: 10px;
 }
 .form-height{
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.new-para{
    text-align: center;
    margin-bottom: 70px;
}
.g-5{
align-items: center;
}
.about-img{
    position: relative;
    overflow: hidden;
    padding-left: 0px;
    padding: 50px;
}
.about-img img{
    width: 100%;
    border-radius: 10px;
    min-height: 50vh;
    
}
.yes{
    margin-bottom: 5px;
}
.text{
    padding-bottom: 30px;
}
.name{
    background: url(https://sawasdeegroupofficial.com/img/banner1.png);
    height: 70vh;
    /* z-index: -1; */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    
}
.aaa{
    justify-content: center;
    height: 50vh;
    /* height: 100%; */
        background-color: #1f313e;
        border-radius: 4px;
        padding: 30px 35px 30px;
        transition: 0.5s all ease;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        font-size: 18px;
        color: rgb(206, 203, 203);
        font-weight: 500;
        position: relative;
    }
.nn{
    justify-content: space-between;
}
.rr{
    color: #fff;
    margin: 30px;
    margin-top: 50px;
    font-size: 30px;
}
.mm{
    display: inline-block;
    font-size: 14px;
    color: #b2c4cf;
    border-radius: 4px;
    padding: 10px 12px;
    background-color: #33444f;
    margin-bottom: 15px;
    transition: 0.5s all ease;
}





.Aman{
    justify-content: end;
}







.navbar-on{
    justify-content: end;
    
}
.nav-link{
    margin: 10PX;
}
.ALL{
    margin: 10PX;

}
.head{
    margin-top: 13px;
    font-weight: bold;
    letter-spacing: normal;
}
.am h6{
    margin: 20px;
    border: dotted 1.5px  rgb(168, 255, 206);
    padding: 15px;
    box-shadow: 2px  rgb(168, 255, 206);
    border-radius: 5px;
}