body {
    margin: 0;
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    background-color: #ffffff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cont {
    /* height: 120vh; */
    margin-top: 70px;
    margin-bottom: 50px;
}

.ram {
    padding: 16px;
    margin-left: 5px;
}

.nike {
    margin-top: 25px;
    margin-bottom: 30px;
}

.buttonn {
    text-decoration: none;
    background-color: gray;
    padding: 20px;
    color: #000;
    border-radius: 10px;
}

.headi {
    margin-top: 15px;
    color: #0E2E50;
}

.a-all {
    /* padding: 15px; */
    text-decoration: none;
    text-align: center;
    background-color: #effdf5 !important;
    display: block;
    border-radius: 5px;
    color: #000;
    box-shadow: rgba(0, 185, 142, 0.909);
}

.like {
    padding-top: 15px;
    padding: 10px;
}

.like h6 {
    background-color: #fff;
    border: 1px dashed rgba(0, 185, 142, 0.909) !important;
    padding: 10px;
    padding: 20px;
}

.formm {
    margin-top: 10px;
}

.form-height {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.new-para {
    text-align: center;
    margin-bottom: 70px;
}

.g-5 {
    align-items: center;
}

.about-img {
    position: relative;
    overflow: hidden;
    padding-left: 0px;
    padding: 50px;
}

.about-img img {
    width: 100%;
    border-radius: 10px;
    min-height: 60vh;

}

.yes {
    margin-bottom: 5px;
}

.text {
    padding-bottom: 30px;
}


.name {
    background: url(https://sawasdeegroupofficial.com/img/banner1.png);
    /* height: 70vh; */
    /* z-index: -1; */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    border-radius: 5px;
    width: 100%;

}

.aaa {
    justify-content: center;
    /* height: 50vh; */
    height: 100%;
    background-color: #1f313e;
    border-radius: 10px;
    padding: 30px 35px 30px;
    transition: 0.5s all ease;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    font-size: 18px;
    color: rgb(206, 203, 203);
    font-weight: 500;
    position: relative;
}
.aaa:hover{
    background-color: rgb(209 204 204);
    color: #000;
}
.aan:hover{
    background-color: rgb(209 204 204);
    color: #000;
}

.aan {

    justify-content: center;
    /* height: 50vh; */
    height: 100%;
    background-color: #1f313e;
    border-radius: 10px;
    padding: 30px 35px 30px;
    transition: 0.5s all ease;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    font-size: 18px;
    color: rgb(206, 203, 203);
    font-weight: 500;
    position: relative;
}

.nn {
    justify-content: space-between;
}

.rr {
    color: #fff;
    margin: 30px;
    margin-top: 50px;
    font-size: 30px;
}

.mm {
    display: inline-block;
    font-size: 14px;
    color: #b2c4cf;
    border-radius: 4px;
    padding: 10px 12px;
    background-color: #33444f;
    margin-bottom: 15px;
    transition: 0.5s all ease;
}





.Aman {
    justify-content: end;
}






/* 
.navbar-on {
    justify-content: end;

}

.nav-link {
    margin: 10PX;
} */

.ar {
    background-color: #311532;
    color: #fff;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.btn {
    background-color: #311532;
    color: #fff;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
}



.head {
    margin-top: 13px;
    font-weight: bold;
    letter-spacing: normal;
}

.am h6 {
    margin: 20px;
    border: dotted 1.5px rgb(168, 255, 206);
    padding: 15px;
    box-shadow: 2px rgb(168, 255, 206);
    border-radius: 5px;
}

.like h6:hover {
    background-color: #311532;
    color: #fff;
}

.like h6 {
    border-radius: 5px;
}

.bodyy {

    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 80vh; */
    background: linear-gradient(#ffffff, #ffffff);
}

.bodyyy {

    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 50vh; */
    background: linear-gradient(#ffffff, #ffffff);
}

.card-wrapper {
    max-width: 1100px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    display: block;
    user-select: none;
    background: #effdf5;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
    margin: 20px;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {}

.card-list .card-item .card-image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9/ 9;
    border: 1px dashed rgba(0, 185, 142, 0.909) !important;

}

.card-list .card-link .like {
    color: #5372F0;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title {
    font-size: 1.5rem;
    color: #000;
    border: 1px dashed rgba(0, 185, 142, 0.909) !important;
    background: #effdf5;
    text-align: center;
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #0E2E50;
    padding-top: 15px;
    margin-bottom: 3px;
}

.nav-item .nav-link {
    color: #000;
}



.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372F0;
    color: #5372F0;
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background: #53f0c9;

}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background-color: #5372F0;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

@media screen and(max-width:350px){
    .wonders{
        padding-left: 0;
    }
    
}
.wonders{
    padding-left: 0;
}



.card-wrapper.swiper-slide-button {
    color: #5372F0;
    margin-top: -35px;
}

@media screen and(max-width:768px) {
    .card-wrapper {
        /* margin: 0 10px 25px; */
    }

    .card-wrapper.swiper-slide-button {
        display: none;
    }
}

.card-list .card-link .likee {
    color: #5372F0;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
    margin-bottom: -67px;
    margin-left: 150px;
}

/* jvndf */
.img22 {
    width: 100%;
    margin: 20px;
    border: 2px dotted rgb(168, 255, 206);
    box-shadow: 0px 10px 10px 10px rgb(168, 255, 206);

}

.first {
    margin: -18px;
}

.second {
    /* margin: 30px; */
    padding-top: 25px;
}


.kids {
    /* background-color: rgb(168, 255, 206); */
    border: 2px dotted rgb(168, 255, 206);
    margin: 20px;

}

.car {
    background-color: #311532;
    align-items: center;
}

.hover:hover{

    font-weight: 400;
    line-height: 1.5;
    color: #e2dbdb;
    text-align: center;

    cursor: pointer;

    
    padding: 16px 55px;

    font-size: 1rem;
    border-radius: 5px;
    background-color: aquamarine;
    text-decoration: none;
}
.text{
    color: #730077;
}


.honest {
    height: 70vh;
    margin-top: 100px;
    background-color: #121111;
}
.swiper-button-next{
    color: #53f0c9;
}

.card-text {
    color: #ffffff9a;
    margin-left: 50px;
}
.class{
    color: #48164a;
    margin: 50px;
    margin-bottom: 0;
}
.textt{
    margin-left: 50px;
    margin-top: 4px;
    color: #fff;
    margin-bottom: 40px;
}
.color {
    padding-top: 20px;
    color: #fff;
}

.on {
    margin: 50px;
}

.cut {
    border-bottom: 2px #fff;
}

.text-green {
    color: green;
}

.side {
    margin-left: 400px;
    color: green;
}

.row {
    margin-top: 50px;
}

.section-header {
    margin-top: 20px;
    margin-left: -26px;
    margin-bottom: 8PX;
}

.name::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

@media screen and (max-width:400px) {
    .img img {
        width: 100%;
        height: 50vh;
    }

}

@media screen and (max-width:400px) {
    /* .navbar-toggler {
        margin-right: 100px;
    } */

    .h1,
    h1 {
        padding-top: 25px;

    }

}

@media screen and (max-width:330px) {
    .bodyy {
        margin-top: 210px;
    }

    .swiper {
        height: 7vh;
    }

    .bodyy {

        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        /* background: linear-gradient(#ECEFFE, #CED6FB); */
    }

    .bodyyy {

        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        /* background: linear-gradient(#ECEFFE, #CED6FB); */
    }

}

.second {
    margin-left: 50px;
}

@media screen and (max-width:340px) {
    .second {
        margin: 0;
    }

    .about-img {
        padding: 0;
    }

    .about-img img {
        height: 0;
        width: 100%;
    }
}

.honest {
    height: 70vh;
    background-color: gray;
}

@media screen and (max-width:340px) {
    .honest {
        height: 0;
        margin: 20px;
        margin-bottom: 1000px;
    }

    .map {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .type {
        margin-bottom: 15px;
    }

    .hii {}
}

.hii {
    margin-top: 50px;
    height: 80vh;
    background-color:  #080f17;
}

.h11 {
    margin-left: 130px;
    margin-bottom: -26px;
}

